@using AppCurso.Models
@model SucursalCLS
@{
    ViewBag.Title = "Agregar";
}

<h2>Agregar</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Editar", "Sucursal", FormMethod.Post, new { @id = "frmEditar" }))
        {
            <div>
                @Html.LabelFor(p => p.id_sucursal)
                @Html.TextBoxFor(p => p.id_sucursal, new { @class = "form-control", @readOnly=true})
                @Html.ValidationMessage("id_sucursal", new { @class = "text-danger" })

            </div>
            <div>
                @Html.LabelFor(p => p.nombre)
                @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })
                @if (Model != null && Model.mensajeError != null)
                {
                    @Html.Label(Model.mensajeError, new { @class = "text-danger" })
                }

            </div>
         
            <div>
                @Html.LabelFor(p => p.direccion)
                @Html.TextBoxFor(p => p.direccion, new { @class = "form-control" })
                @Html.ValidationMessage("direccion", new { @class = "text-danger" })

            </div>
            <div>
                @Html.LabelFor(p => p.telefono)
                @Html.TextBoxFor(p => p.telefono, new { @class = "form-control" })
                @Html.ValidationMessage("telefono", new { @class = "text-danger" })

            </div>
            <div>
                @Html.LabelFor(p => p.email)
                @Html.TextBoxFor(p => p.email, new { @class = "form-control" })
                @Html.ValidationMessage("email", new { @class = "text-danger" })

            </div>
            <div>
                @Html.LabelFor(p => p.fechaApertura)
                @Html.EditorFor(p => p.fechaApertura, new { htmlattributes = new { @class = "form-control" } })
                @Html.ValidationMessage("fechaApertura", new { @class = "text-danger" })

            </div>
            <br />
            <div style="margin:auto">
                <input type="submit" value="Enviar" class="btn btn-primary" />
                @Html.ActionLink("Regresa", "Index", "Sucursal", new { @class = "btn btn-danger" })
            </div>
        }
    </div>

</div>

<script>
    var frmEditar = document.getElementById("frmEditar");
    frmEditar.onsubmit = function (e) {
        e.preventDefault();
        if (confirm("Desea guardar la informacion?") == 1) {
            frmEditar.submit();
        }

    }
</script>

