@using AppCurso.Models
@model List<ClienteCLS>
@{
    ViewBag.Title = "Index";
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.lista;
}

<h2>Index</h2>
@Html.ActionLink("Agregar", "Agregar", "Cliente", null, new { @class = "btn btn-primary" })
@using (Html.BeginForm("Index", "Cliente", FormMethod.Get))
{
    @Html.Label("Seleccione sexo")
    @Html.DropDownList("idsexo", listaSexo)
    <input type="submit" value="buscar" class="btn btn-success" />



<table class="table table-bordered">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].idcliente)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].appaterno)</td>
            <td>@Html.LabelFor(p => Model[0].apmaterno)</td>
            <td>@Html.LabelFor(p => Model[0].telefonoFijo)</td>
            <td>
                Operaciones
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.idcliente</td>
                <td>@item.nombre</td>
                <td>@item.appaterno</td>
                <td>@item.apmaterno</td>
                <td>@item.telefonoFijo</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Cliente", new { id = @item.idcliente }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })

                    <button type="button" onclick="mostrarPopup(@item.idcliente)" class="glyphicon glyphicon-trash btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>
}

@using (Html.BeginForm("Eliminar", "Cliente", FormMethod.Post, new { @id = "frmEliminar" }))
{
    @Html.Hidden("idcliente");
}


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Desea guardar los cambios?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:1em">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>
<script>
    function mostrarPopup(idcliente) {
        document.getElementById("idcliente").value = idcliente;
    }
    function Agregar() {
        var frmEliminar = document.getElementById("frmEliminar");
        frmEliminar.submit();
    }
</script>

